.custom-map-marker {
  display: inline-block;
  line-height: 1;
  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: image-url("map-marker-alt-light.svg");
  }
}
