.nav-item {
  a {
    font-weight: 500;
  }
}

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar.navbar-scrolled.navbar-dark {
  background-color: $blue !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media (max-width: 991px) {
  .navbar-expand-lg.navbar-dark .navbar-nav {
    background-color: $blue !important;
  }
}
