.navbar-vertical-content {
  .nav-item {
    .nav-link {
      color: $gray;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.navbar-brand-wrapper {
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .navbar-brand-wrapper {
    justify-content: space-between;
  }
}
