<footer class="bg-blue">
    <div class="container pb-1 pb-lg-5">
      <div class="row content-space-t-2">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <div class="mb-5">
            <a class="navbar-brand" href="#">
              <%= image_tag("logo-white.svg", class: "navbar-brand-logo", alt: "Image Description") %>
            </a>
            <p class="link-light mt-2">Making service charges great again.</p>
          </div>        
        </div>
        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">Sitemap</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">Home</a></li>
            <li><a class="link-sm link-light" href="#">What is AriaPay?</a></li>
            <li><a class="link-sm link-light" href="#">Our Customers</a></li>
          </ul>
        </div>

        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">Company</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">Terms & Condition</a></li>
            <li><a class="link-sm link-light" href="#">Privacy Policy</a></li>
            <li><a class="link-sm link-light" href="#">Cookie Policy</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h5 class="text-white mb-3">Account</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light text-decoration-underline" href="#">Login to your account</a></li>
          </ul>
        </div>
      </div>
      <div class="border-top border-white-10 my-7"></div>
      <div class="row mb-7">
        <div class="col-sm mb-3 mb-sm-0">
          <p class="link-light">© AriaPay Ltd. 2021</p>
        </div>
        <div class="col-sm-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
