footer.bg-blue
  .container.pb-1.pb-lg-5
    .row.content-space-t-2
      .col-lg-5.mb-7.mb-lg-0
        .mb-5
          a.navbar-brand href="#" 
            = image_tag("logo-white.svg", class: "navbar-brand-logo", alt: "Image Description")
          p.link-light.mt-2 Making service charges great again.
      .col-sm.mb-7.mb-sm-0
        h5.text-white.mb-3 Sitemap
        ul.list-unstyled.list-py-1.mb-0
          li
            a.link-sm.link-light href="#"  Home
          li
            a.link-sm.link-light href="#"  What is AriaPay?
          li
            a.link-sm.link-light href="#"  Our Customers
      .col-sm.mb-7.mb-sm-0
        h5.text-white.mb-3 Company
        ul.list-unstyled.list-py-1.mb-0
          li
            a.link-sm.link-light href="#"  Terms  Condition
          li
            a.link-sm.link-light href="#"  Privacy Policy
          li
            a.link-sm.link-light href="#"  Cookie Policy
      .col-sm
        h5.text-white.mb-3 Account
        ul.list-unstyled.list-py-1.mb-0
          li
            a.link-sm.link-light.text-decoration-underline href="#"  Login to your account
    .border-top.border-white-10.my-7
    .row.mb-7
      .col-sm.mb-3.mb-sm-0
        p.link-light &#xA9; AriaPay Ltd. 2021
      .col-sm-auto
        ul.list-inline.mb-0
          li.list-inline-item
            a.btn.btn-soft-light.btn-xs.btn-icon href="#" 
              i.bi-facebook
          li.list-inline-item
            a.btn.btn-soft-light.btn-xs.btn-icon href="#" 
              i.bi-google
          li.list-inline-item
            a.btn.btn-soft-light.btn-xs.btn-icon href="#" 
              i.bi-twitter
