header#header.navbar.navbar-expand-lg.navbar-end.navbar-absolute-top.navbar-dark.navbar-show-hide data-hs-header-options='{
  "fixMoment": 1000,
  "fixEffect": "slide"
}'
  .container
    nav.js-mega-menu.navbar-nav-wrap
      a.navbar-brand aria-label="Front" href="./index.html" 
        = image_tag('logo-white.svg', class: "navbar-brand-logo", alt: "Logo")
      button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label=("Toggle navigation") data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button" 
        span.navbar-toggler-default
          i.bi-list
        span.navbar-toggler-toggled
          i.bi-x
      #navbarNavDropdown.collapse.navbar-collapse
        .navbar-absolute-top-scroller.w-100.ms-0
          ul.navbar-nav
            .w-100.d-md-flex.justify-content-md-center
              li.nav-item
                a.nav-link.active aria-current="page" aria-expanded="false" href="#" role="button"  Home
              li.nav-item
                a.nav-link aria-expanded="false" href="#" role="button"  What is AriaPay?
              li.nav-item
                a.nav-link aria-expanded="false" href="#" role="button"  Our Customers
            li.nav-item
              a.btn.btn-light.btn-transition.px-4 href="#"  Login
