<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-dark navbar-show-hide"
          data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>

    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="./index.html" aria-label="Front">
          <%= image_tag('logo-white.svg', class: "navbar-brand-logo", alt: "Logo") %>
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->
      
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller w-100 ms-0">
            <ul class="navbar-nav">
              <div class="w-100 d-md-flex justify-content-md-center">
              <!-- Landings -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" role="button" aria-expanded="false">Home</a>
              </li>
              <!-- End Landings -->

              <!-- Company -->
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" aria-expanded="false">What is AriaPay?</a>
              </li>
              <!-- End Company -->

              <!-- Account -->
              <li class="nav-item">
                <a class="nav-link" href="#" role="button" aria-expanded="false">Our Customers</a>
              </li>
              <!-- End Account -->
              </div>

              <!-- Button -->
              <li class="nav-item">
                <a class="btn btn-light btn-transition px-4" href="#" target="_blank">Login</a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>
